.bg-myRed {
  background-color: crimson;
}

.content {
  padding: 12px;
  height: 3000px;
}

.coloring {
  color: white;
}
@media screen and (max-width: 480px) {
  .Header {
    display: block;
    left: 0;
    flex-direction: column;
    height: 100vh;

    position: fixed;
  }
}